{
    "semi": true,
    "singleQuote": false,
    "tabWidth": 4,
    "printWidth": 80,
    "trailingComma": "none",
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "quoteProps": "as-needed",
    "bracketSameLine": false,
    "htmlWhitespaceSensitivity": "css",
    "embeddedLanguageFormatting": "auto",
    "proseWrap": "preserve"
}
